.ModelComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  img {
    //max-width: 390px;
    width: 85%;
    margin-bottom: 9px;
  }
}
