.ModelCanvasDraw {
  position: absolute;
  top: 3rem;
  bottom: 6.85%;
  width: 100%;

  display: flex;
  justify-content: center;
  .loader {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  img {
    height: 100%;
  }
}
