.App {
  font-size: 14pt;
  font-family: AvenirNext, Arial, sans-serif;
  position: relative;

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
  }
}
